body {
  font-family: "Noto Sans KR", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #eae8fe;
  align-items: center;
  box-sizing: border-box;
}

header img {
  width: 386px;
  height: 190px;
}

header {
  margin-bottom: 67px;
}

main {
  width: 740px;
  height: 545px;
  box-sizing: border-box;
  display: flex;
}

.left-container {
  background: #fff;
  margin-right: 18px;
  width: 360px;
  height: 545px;
  padding: 31px 27px 28px 27px;
  box-sizing: border-box;
}

.item-list {
  width: 306px;
  height: 272px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px 12px;
}

.item-list li {
  width: 94px;
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.item-list li img {
  width: 36px;
  height: 65px;
  margin-bottom: 6px;
}

.item-list li p {
  color: #333333;
  font-size: 9px;
  line-height: 13px;
  vertical-align: center;
  font-weight: 500;
  margin-bottom: 7px;
}

.item-list li button {
  width: 70px;
  height: 22px;
  border-radius: 50px;
  background: #6327fe;
  font-size: 12px;
  font-weight: 500;
  vertical-align: center;
  line-height: 12px;
  color: #fff;
}

.price {
  width: 306px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 11px;
}

.price dl {
  width: 200px;
  height: 33px;
  background: #eae8fe;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  box-sizing: border-box;
}

.price dt,
.pricce dd {
  font-size: 14px;
  font-weight: 500;
}

.price button {
  width: 94px;
  height: 33px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  font-size: 13px;
  line-height: 19px;
  vertical-align: center;
  font-weight: 500;
  border-radius: 5px;
}

.deposit {
  width: 306px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 11px;
}

.deposit input {
  width: 200px;
  height: 33px;
  border: 1px solid #bdbdbd;
  color: #bdbdbd;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  vertical-align: center;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 6px 0 6px 8px;
}

.deposit button {
  width: 94px;
  height: 32px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  font-size: 13px;
  line-height: 19px;
  font-weight: 500;
  vertical-align: center;
  border-radius: 5px;
}

.right-container {
  width: 360px;
  height: 545px;
  border: 1px solid;
}

.basket {
  width: 306px;
  height: 134px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.basket ul {
  width: 200px;
  height: 106px;
  background: #eae8fe;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  padding: 12px 0 12px 12px;
  box-sizing: border-box;
  overflow-y: scroll;
  /* scroll-padding-right: 10px; */
}

.basket ul::-webkit-scrollbar {
  width: 4px;
}

.basket ul::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
}

.basket button {
  background: #6327fe;
  width: 94px;
  height: 106px;
  font-size: 13px;
  font-weight: 700px;
  line-height: 19px;
  color: #fff;
  vertical-align: center;
  border-radius: 5px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.basket ul li {
  width: 170px;
  height: 46px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 6px;
}

.basket ul li img {
  width: 18px;
  height: 33px;
  margin-left: 10px;
}

.basket ul li span {
  font-weight: 500;
  font-size: 9px;
  line-height: 13px;
  vertical-align: center;
}

.basket ul li p {
  width: 30px;
  height: 30px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500px;
  line-height: 20px;
  vertical-align: center;
  margin-right: 8px;
}
